body{
    font-family: 'EB Garamond', serif;
    background-color: rgba(244, 247, 158, 0.608);
    }

  header{
    background-color: #a7982a68;
    padding: 20px 0;
    height: 250px;
    /*color: rgba(red, green, blue, opacidad); color: rgba(red, green, blue, 3) */
  }
  


  .caja{
    width: 100%;
    position: relative;
    /* 0 arriba y abajo, y para izq y der (lateral) se encuentra auto: que da la percepcion de estar centralizado*/
    margin: 0 auto;
  }
  
  .caja img{
    position: relative;
    left: 100px;
  }



  nav{
    position: absolute;
    top: 110px;
    right: 50px;
  }
  
  nav li{
    display: inline;
    /* margin: #arriba, #abajo, #Derecha, #izquierda*/
    margin: 0 0 0 15px;
  }
  
  nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  
  /* Captura del mause: cambia de color y subraya los enlaces de la barra de navegacion*/
  nav a:hover{
    color: #da4404;
    text-decoration: underline;
  }
  #textnav:hover{
    color: #ffffff;
    text-decoration: underline;
  }





/*CSS para el home*/

.headerhome{
  background-color: #a7982a84;
  padding: 20px 0;
  height: 100px;
  /*color: rgba(red, green, blue, opacidad); color: rgba(red, green, blue, 3) */
}

.navghomeglorieta{
  position: absolute;
  top: 50px;
  right: 100px;
}

.logounibague{
  position: absolute;
  top: 15px;
  width: 180px;
  height: 70px;

  border-radius: 10px;

}

.wrapper {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}

.containerall{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items:center;
}

.containertext{
  font-size: 70px;
  text-align: center;
  color: #bddfe3;
}

#text{
  text-align: center;
  padding-bottom: 20px;
}
#text1{
  text-align: center;
  padding-bottom: 45px;
}

.botonvermas{
  font-size: 30px;
  font-weight: bolder;
  color: #d4d4d4;
  height: 60px;
  width: 300px;
  background-color: #782a089b;
  border-radius: 30px;
}

.botonvermas:hover{
  transform: scale(1.3);
  transition: 1s;
  background-color: #782a08be;
  color: #ffffff;
}

#civil{
  width: 200px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 150px;
  background-color: rgba(240, 248, 255, 0.133);
  border-radius: 20px;
  animation:infinite;
  animation: float 2s linear infinite;
}

#excel{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 65%;
  right: 200px;

  border-radius: 10px;
  animation:infinite;
  animation: float 2s linear infinite;
}

#civil2{
  width: 200px;
  height: 100px;
  position: absolute;
  top: 30%;
  right: 150px;
  background-color: rgba(240, 248, 255, 0.112);
  border-radius: 20px;
  animation:infinite;
  animation: float 2s linear infinite;
}

#excel2{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 65%;
  left: 200px;
  
  border-radius: 10px;
  animation:infinite;
  animation: float 2s linear infinite;
}


@keyframes float {
  0%, 100%{
      transform: translateY(0rem);
  }
  50%{
      transform: translateY(-1.5rem);        
  }
}




/* Css para Contacto*/

.formulariodecontacto{
    width: 700px;
    margin: 40px  0;
    margin-left: 10%; 
  }
  
  form label, form legend{
    display: block;
    font-size: 20px;
    /* margin: #arriba #derecha #abajo */
    margin: 0 0 10px
  }
  
  .input-padron{
    display: block;
    /* margin: #arriba #derecha #abajo */
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
  }
  
  .checkbox{
    margin: 20px 0;
  }
  
  .enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
  }
  
  /* id/.class/#/:hover --> Captura del mause, y realizá lo que se le indica en el CSS*/
  .enviar:hover{
    background: darkorange;
    transform: scale(1.1);
  }
  
  /*MIOOOOO*/
  .imgfinal{
    position: absolute;
    top: 400px;
    right: 230px;
    width:  250px;
    height: 300px;
  }
  
  /*MIOOOOO*/
  .atentiontime{
    position: absolute;
    top: 900px;
    right: 230px;
    font-size: 30px;
    font-weight:lighter;
  }
  
  table{
    margin: 40px 40px;
    /*NEW for me*/
    position: absolute;
    top: 910px;
    right: 200px;
  }
  
  thead{
    background: #555555;
    color: white;
    font-weight: bold;
  }
  
  td, th{
    border: 1px solid black;
    padding: 8px;
  }
  
  .whatsapp{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    position: absolute;
    width: 300px;
    top:  700px;
    right: 15%;
  
  }
  .whatsapp strong{
    font-weight: bolder;
  }
  
  #imgwhatsap{
    height: 100px;
    width: 100px;
    border-radius: 50px;
  
  }
  #imgwhatsap:hover{
    transform: scale(1.2);
    transition: 1s;
    background-color: rgba(118, 224, 64, 0.305);
  
  }
  
  
  
  
  
  /* CSS para el footer */
  
  footer{
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
  }
  
  .lastpart{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
  }

  @media (min-widh:600px){
    header{
      flex-direction: row;
      padding: 0px 30px;
      justify-content: space-between;
    }
  }